.container {
    background-image: url("../image/material03.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.cardWrap {
    position: absolute;
    right: 50rem;
    top: 300px;
    height: 300px;
    width: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 12px;
}

.MCardWrapper {
    display: flex;
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.MRoot {
    border-radius: 12px;
    width: 440px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.MHead {
    text-align: center;
    letter-spacing: 10px;
}

.MList {
    padding: 20px;
}

.MButton {
    width: 100%;
}

.MAction {
    display: flex;
    justify-content: space-between,
}